<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <!--屏幕打印消息-->
    <target name="console" xsi:type="ColoredConsole"
                    layout="${date:format=yyyy-M-dd HH\:mm\:ss}> ${message}"/>

    <!--VS输出窗口-->
    <target name="debugger" xsi:type="Debugger"
                    layout="${date:format=yyyy-M-dd HH\:mm\:ss} | ${level:padding=-5} | ${message}" />

    <!--保存至文件-->
    <target name="debugger_file" xsi:type="File" maxArchiveFiles="30"
                    fileName="${basedir}/Logs/Debug/${shortdate}.txt"
                    layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <target name="error_file" xsi:type="File" maxArchiveFiles="30"
                    fileName="${basedir}/Logs/Error/${shortdate}.txt"
                    layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <target name="info_file" xsi:type="File" maxArchiveFiles="30"
                    fileName="${basedir}/Logs/Info/${shortdate}.txt"
                    layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" level="Debug" writeTo="debugger_file" />
    <logger name="*" level="Error" writeTo="error_file" />
    <logger name="*" level="Info" writeTo="info_file" />
  </rules>
</nlog>